<!DOCTYPE html>
<html>
<head>
  <title>SpacedOut</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= render 'layouts/header' %>

<div class="container container_devise">

  <% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>


  <%= yield %>
</div>

<footer>
  <p>Created by <%= link_to "C.Eyler", creator_path %> 2014 </p>
</footer>

</body>
</html>
